extends layout

block content
  body(bgcolor='#f6f6f6')
  center
    p Walcome to Tanuki Tech Homepage...
    img(src='https://gitlab.com/praumann/tanukitech-openshift/-/raw/master/views/tanukitechportal.png')
